div[id="left"]{
  margin-top: 5vh;
  margin-left: 5vh;
  width: 40vw;
  float:left
}

div[id="right"]{
  margin-top: 5vh;
  margin-left: 5vh;
  margin-right: 5vh;
  width: 40vw;
  float: left;
  visibility: hidden;
}

a[class="good"]{
  color: green;
}
a[class="bad"]{
  color: red;
  text-decoration: line-through;
}
button[class="blue"]{
  background-color: blue;
}
button[class="green"]{
  background-color: green;
}
button[class="red"]{
  background-color: red;
}

button:not(#confirm){
  width: 25vw;
  height: 3vh;
  margin-top: 1vh;
}

button[id="confirm"]{
  margin-left: 20vh;
  border-radius: 50%;
  min-width: 7vw;
  min-height: 9vh;
}