div[id="left"]{
  margin-top: 5vh;
  margin-left: 5vh;
  width: 40vw;
  float:left
}

div[id="right"]{
  margin-top: 5vh;
  margin-left: 5vh;
  margin-right: 5vh;
  width: 40vw;
  float: left;
  visibility: hidden;
}

#confirm{
  border-radius: 50%;
  min-width: 5%;
  min-height: 8%;
}
a[class="good"]{
  color: green;
}
a[class="bad"]{
  color: red;
  text-decoration: line-through;
}
button[class="green"]{
  background-color: green;
}